titulo{
    font-weight: bold;
    font-size: 1.5em;
    display: block;
}

autor{
    color: blue;
    text-decoration: underline;
    display: list-item;
    list-style-type:circle ;
    margin-left:25px ;
}

fechaPublicacion{
    font-style:italic ;
    display: list-item;
    list-style-type:circle ;
    margin-left:25px ;
}